<div class="container">

  <div class="row">
    <div class="col-md-4">
      <!-- ADD THE responsive-plot CLASS -->
      <div id="plot1" class="responsive-plot">{{ species_count | safe }}</div>
    </div>
    <div class="col-md-4">
      <!-- ADD THE responsive-plot CLASS -->
      <div id="plot2" class="responsive-plot">{{ tissue_origin_count | safe }}</div>
    </div>
    <div class="col-md-4">
      <!-- ADD THE responsive-plot CLASS -->
      <div id="plot3" class="responsive-plot">{{ culture_type_count | safe }}</div>
    </div>

  </div>
</div>

