<div class="jumbotron">

    <div class="d-flex justify-content-between">

        <h1 class="display-4">{{ summary.isolates_count }} Isolates</h1>
        {% if alerts %}
            <h1 class="display-4"><i class="fas fa-exclamation-circle text-danger "></i></h1>
        {% endif %}

    </div>


    <p class="lead">Collected from: {{ summary.first_collection}} to {{ summary.last_collection }}</p>
    <hr class="my-4">
    <p> Results based on {{ summary.number_of_samples}} samples ({{ summary.number_of_sequences }} sequences)
        with an average of {{ summary.average_aro_gene_per_sample }} aro genes per samples</p>
</div>

{% for key, c in alerts.items %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading"> New <a href="#{{ key }}">{{ key }}</a> </h4>
        <hr>
        <p>
            {% for item in c %}
                <strong>{{ item.aro_gene__aro_category__category_aro_name | capfirst}}</strong>
                {% if not forloop.last %} , {% endif %}
            {% endfor %}
            appeared in this group for the first time on {{ item.first }}</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
